@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 0 0% 3%;
  --muted: 0 0% 92%;
  --border: 0 0% 83%;
  --radius: 0px;
}

.dark {
  --background: 0 0% 4%;
  --foreground: 0 0% 98%;
  --muted: 0 0% 14%;
  --border: 0 0% 24%;
  --radius: 0px;
}

* {
  border-radius: 0;
}

body {
  background: hsl(var(--background));
  color: hsl(var(--foreground));
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}
